.cardStyle {
    width: 30%;
    height: 500px;
    display: inline-table;
    color: black;
    font-family: Arial;
    border: 2px solid lightgray;
    border-radius: 25px;
    padding: 1%;
    font-family: 'Cabin', sans-serif;
    background: white;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 1000px) {
    .cardStyle {
        width: 100%;
        height: 0%;
    }
}
.cardStyleHover {
    @extend .cardStyle;
    background: #d8ddd8;
}
.cardName {
    font-size: 125%;
    text-align: center;
    height: 75px;
    margin: 1%;
}
.cardLeft {
    width: 50%;
    height: 200px;
    text-align: left;
    display: inline-table;
}
.cardRight {
    width: 50%;
    height: 200px;
    text-align: right;
    display: inline-table;
}
.cardDescription {
    height: .1%;
    font-size: 85%;
}
.imageCard {
    width: 60%;
    height: 200px;
}
.tagBox {
    width: 100%;
    height: 60px;
}
@media only screen and (max-width: 1000px) {
    .tagBox {
        height: 0%;
    }
    .cardName {
        height: 0%;
    }
}
.tag{
    color: white;
    font-size: 70%;
    border-radius: 25px;
    margin: 1%;
    display: inline-block;
    text-align: center;
}
.tag_gender_male {
    @extend .tag;
    background: #89acb2;
}
.tag_gender_female {
    @extend .tag;
    background: #e8a9d7;
}
.tag_gender_both {
    @extend .tag;
    background: #a289b2;
}
.tag_age_12under {
    @extend .tag;
    background: #9fc972;
}
.tag_age_13over {
    @extend .tag;
    background: #4b563a;
}
.tag_age_both {
    @extend .tag;
    background: #759056;
}
.tag_symptom_pain {
    @extend .tag;
    background: #eb9ea1;
}
.tag_symptom_bored_short {
    @extend .tag;
    background: #f3d26a;
}
.tag_symptom_bored_long {
    @extend .tag;
    background: #c2bfde;
}
.tag_symptom_anxiety {
    background: #a1d6ee;
    @extend .tag;
}
.tag_symptom_sadness {
    @extend .tag;
    background: #fab169;
}
.tag_symptom_cognitive {
    @extend .tag;
    background: #ccd7c2;
}