.description-cardName{
        font-size: 30px;
        align: center;
        font-family: 'Cabin', sans-serif;
}

.description-background {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 10%;
    padding-top: 1%;
    text-align: center;
    background-attachment: fixed;
    margin: 0%;
    background-size: cover;
    height: 100vh;
    width: 100hw;
    font-family: 'Cabin', sans-serif;
  }

.image {
        max-width: 300px;
        max-height: 300px;
        width: auto;
        height: auto;
        text-align: center;
}


  @media only screen and (max-width: 750px) {
          .description-background {
              padding-left: 20%;
              padding-right: 20%;
              padding-bottom: 1%;
              padding-top: 1%;
              text-align: center;
              background-attachment: fixed;
              margin: 0%;
              background-size: cover;
              height: 100vh;
              width: 100hw;
            }
  }

@media only screen and (max-width: 500px) {
        .description-background {
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 1%;
            padding-top: 1%;
            text-align: center;
            background-attachment: fixed;
            margin: 0%;
            background-size: cover;
            height: 100vh;
            width: 100hw;
          }
}
