$color-background: white;
$color-back: rgb(205, 232, 212);
$graddiag: linear-gradient(to right top, #edffe8, #defad3, #d1f4bd, #c6eea5, #bce88d);
$rad: radial-gradient(circle, #fdfffc, #effde7, #e3fad2, #d8f7bb, #cdf4a4);
$grad: linear-gradient(to top, #fdfffc, #f3fdec, #e9fcdc, #e0f9cc, #d8f7bb, #d0f2af, #c9eea3, #c1e997, #b8e18e, #b0d984, #a7d17b, #9fc972);
$cp: #9FC972;
$cpdark: #4a7f10;
$cpdark2:rgb(52, 91, 11);

.homeTextL{
    font-size: 175%;
    padding: 2%;
    padding-top: 2%;
    padding-bottom: 0%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 225px;
    font-family: 'Cabin', sans-serif;
  }

.rowcolor{
    // background-image: $grad;
    padding-top: 5%;
    background-image: linear-gradient(to top, #fdfffc, #f3fdec, #e9fcdc, #e0f9cc, #d8f7bb, #d0f2af, #c9eea3, #c1e997, #b8e18e, #b0d984, #a7d17b, #9fc972);
}

.rowcolor2{
    // background-image: $grad;
    // background-image: radial-gradient(circle, #fdfffc, #effde7, #e3fad2, #d8f7bb, #cdf4a4);
    background-image: $rad;
}

.homeText2L{
    font-size: 175%;
    padding: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 225px;
    font-family: 'Cabin', sans-serif;
  }

  .backgroundL {
    text-align: center;
    background-color: $color-background;
    font-family: 'Cabin', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.cp{
    float: left;
}

.rest{
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.blocks{
    display: block;
}

.inlined{
    display: inline;
}

.separator{
    padding-top: 5%;
}

.separator2{
    padding-top: 5%;
    padding-bottom: 5%;
}

.line{
    padding-bottom: 5%;
    border-bottom: 1px solid #dddddd;
    margin-right: 15%;
    margin-left: 15%;
}

.address{
    text-align: left;
}

.subtitles{
    font-size: 150%;
    padding: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 225px;
    font-family: 'Cabin', sans-serif;
}

.subtitles2{
    font-size: 150%;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

.mspace{
    margin-bottom: 10%;
}

@media only screen and (max-width: 500px) {
    img{
      max-width: 300px;
    }
  }

img{
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cleared{
    border: 0px;
    padding-bottom: 20px;
    box-shadow: None;
}

.cleared2{
    margin-top: 5%;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: -10px;
    box-shadow: None;
}

.padded{
    padding-right: 10%;
    padding-left: 10%;
}

.imageCentered {
    text-align: center;
    display: inline-table;
}

.buttonpad{
    margin: 2%;
    font-family: 'Cabin', sans-serif;
    background-color: rgb(128, 198, 63);
    border: None;
}

.font{
    font-family: 'Cabin', sans-serif;
}

.contacts{
    background-color: $cpdark;
    color: white;
    a{
        color: lightblue;
    }
    padding-top: 5%;
    text-align: left;
    padding-left: 5%;
    // word-break: break-all;    
    word-wrap: break-word;
    p {
        font-size: 13px;
    }
}

.equalize{
    // max-width: 25%;
    // min-width: 25%;
    // sm:"4";
}

.leftist{
    text-align: left;
}

.inline{
    display: inline;
}

.cleared3{
    border: 0px;
    border-radius:0px;
    margin-bottom: 20px;
    box-shadow: None;
    padding-left:4%;
}

.footer{
    padding-top: 2%;
    background-color: $cpdark2;
    a{
        color: lightblue;
    }
    color: white;
    text-align: left;
}

.spaceme{
    padding-left: 3%;
    font-size: 13px;
}