// $color-background: #9FC972;
$color-background: white;
$color-background: #edffe8;

.saveSearch {
    width: 160px;
    margin: 1%;
}

.homeButton {
    color: cornflowerblue;
    background: white;
    margin-left: 1%;
    margin-bottom: 1%;
    border: 1px;
    border-style: solid;
    border-color: black;
}
.resultButtons {
    color: cornflowerblue;
    background: white;
    margin-left: 1%;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.results-background {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    background-color: $color-background;
    font-family: 'Cabin', sans-serif;
}

@media only screen and (max-width: 750px) {
        .results-background {
            background-size: cover;
            background-attachment: fixed;
            padding-left: 20%;
            padding-right: 20%;
            padding-bottom: 1%;
            padding-top: 1%;
            text-align: center;
        }
}

@media only screen and (max-width: 500px) {
        .results-background {
            background-size: cover;
            background-attachment: fixed;
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 1%;
            padding-top: 1%;
            text-align: center;
        }
}

.resultsBox{
    background: white;
    min-width: 225px;
    background-color: $color-background;
    font-family: 'Cabin', sans-serif;
}

.cardBox{
    border-radius: 25px;
    min-width: 225px;
    display: inline;
    max-width: 100%;
    font-family: 'Cabin', sans-serif;
}
.resultsText{
    text-align: center;
    background: white;
    min-height: 100%;
    min-width: 225px;
    font-size: 30px;
    color: gray;
    border-radius: 25px;
    background-color: $color-background;
    font-family: 'Cabin', sans-serif;
}
.navbar{
    width: 100%;
}

.buttonInline{
    display: inline-block;
}