.background {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
    padding-top: 1%;
    text-align: center;
    background: url("childs_play_dark.png");
    background-size: contain;
    font-family: 'Poppins', sans-serif;  
    height: 100%;
    // background-repeat: repeat-y;
}
  
@media only screen and (max-width: 750px) {
  .background {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
  }
}

@media only screen and (max-width: 500px) {
  .background {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
  }
}

.homeText{
  font-size: 175%;
  padding: 5%;
  text-align: center;
  margin-bottom: 5%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #73AD21;
  border-radius: 25px;
  background: white;
  min-width: 225px;
}

.searchPage{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  min-width: 250px;
  text-align: center;
  margin:0 auto;
  border: 2px solid #73AD21;
  border-radius: 25px;
  background: white;
  min-width: 225px;
}

@media only screen and (max-width : 380px) {
  .searchPage {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
  }
}

.right {
  margin: 5%;
  margin-top: 0%;
  margin-bottom: 2%;
  color: green;
  background: white;
}

.loginLink{
  margin: 5%;
}

.filterDropdown {
  margin: 1.5%;
  display: inline-block;
}

.searchButton {
  margin: 5%;
  margin-bottom: 5%;
  margin-top: 1%;
  color: green;
  background: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}

.adminButton {
  color: cornflowerblue;
  background: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}

.tinyText {
  font-size: 70%;
}

.nameSearch {
  display: inline-block;
}

.saveSearch {
  display: inline-block;
  margin: 3%;
}