
.right {
  margin: 5%;
  margin-top: 0%;
  margin-bottom: 2%;
  color: green;
  background: white;
}

.search {
  margin: 5%;
  margin-bottom: 1%;
}

.dropdown {
  margin: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.searchButton {
  margin: 5%;
  margin-bottom: 5%;
  margin-top: 1%;
  color: green;
  background: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}
.adminButton {
  color: cornflowerblue;
  background: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}

.loginLink{
  margin: 5%;
}

.passwordPage{
  padding: 10%;  
  text-align: center;
}

.passwordEnter{
  display: inline;
  padding: 2%;
}

.inputKey{
  width: 20%;
  margin-right: 0%;
}

.droppedBox{
  margin-top: 10%;
  text-align: center;

}

.dropZone{
  margin-left: 39%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.dropBox{
  position: relative;
  width: 300px;
  height: 300px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}
.dropdownButton {
  color: cornflowerblue;
  background: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}

.loginLink {
  margin: 5%;
}

.homePage {
  opacity: 1;
}

.homeText{
  padding: 5%;
}

.background {
  margin: 0%;
  background: url("childs_play_light.png");
  height: 100%; 
  background-size: cover;
  background-position: center;
}

.centered{
  text-align: center;
}

