.search {
  margin: 5%;
  margin-bottom: 1%;
}

.dropdown {
  margin: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.inputKey{
  width: 80%;
}

.dropdownButton {
  color: cornflowerblue;
  background: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}

.loginLink {
  margin: 5%;
}

.homePage {
  opacity: 1;
}

.centered{
  text-align: center;
}
