.dropPageBackground {
    font-family: 'Cabin', sans-serif;
}
.droppedFilesBackground {
    background-color: white;
}
.dropPage{
    padding: 10%;
    text-align: center;
    background: white;
    border: 2px solid #73AD21;
    border-radius: 25px;
}
.dropPageBackground{
    background-attachment: fixed;
    padding: 20%;
    text-align: center;
    background-color: #edffe8;
    background-size: cover;
    background-position: center;
}
.droppedBox{
    text-align: center;
}
  
.dropZone{
    margin-bottom: 3%;
}
  
.dropBox{
    width: 100%;
    height: 100px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
}