.homeText{
    font-size: 175%;
    padding: 5%;
    text-align: center;
    margin-bottom: 5%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #73AD21;
    border-radius: 25px;
    background: white;
    min-width: 225px;
  }