.background {
    // padding: 30%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 10%;
    padding-top: 1%;
    text_align: center;
    margin: 0%;
    background: url("childs_play_dark.png");
    background-size: cover;
  }