.background {
    // padding: 30%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 30%;
    padding-top: 1%;
    text_align: center;
    margin: 0%;
    background: url("childs_play_dark.png");
    background-size: contain;
  }

  .homeText{
    padding: 5%;
    text-align: center;
    margin-bottom: 5%;
    border: 2px solid #73AD21;
    border-radius: 25px;
    // background: #09B2AB;
    background: white;
    min-width: 225px;
  }

  .searchPage{
    // padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    text-align: center;
    border: 2px solid #73AD21;
    border-radius: 25px;
    background: white;
    min-width: 225px;
  }

  .right {
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 2%;
    color: green;
    background: white;
  }

  .loginLink{
    margin: 5%;
  }

  .searchButton {
    margin: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
    color: green;
    background: white;
    border: 1px;
    border-style: solid;
    border-color: black;
  }

  .adminButton {
    color: cornflowerblue;
    background: white;
    border: 1px;
    border-style: solid;
    border-color: black;
  }
