.cardStyle {
    color: 'black';
    fontFamily: 'Arial';
    border: '2px solid #52e3e5';
    borderRadius: '25px';
    margin: '10px';
    padding: '10px';
    display: 'inline-block';
}

.cardStyle {
    margin: '10px';
    color: black;
}