
.right {
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 2%;
    color: green;
    background: white;
}

.search{
    margin: 5%;
    margin-bottom: 1%;
}

.background{
    margin: 0%
    /* background-image: linear-gradient(red, yellow, blue); */
    background-image: url("https://file-ivtwpfvbja.now.sh/");
}

.dropdown{
    margin: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.searchButton{
    margin: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
    color: green;
    background: white;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.loginLink{
    margin: 5%;
}

.homePage{
    margin: 5%;
}